.paragraph {
	margin: 0;
	font-family: $secondary-font;
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 300;
	color: $white;
}

@media screen and (max-width: 991px) {
	.paragraph {
		font-size: 1.4rem;
		line-height: 1.57;
	}
}
