.roadmap {
	&-content {
		&__wrapper {
			padding: 144px 0;
			padding-bottom: 182px;
		}
	}
	&-list {
		margin-top: 181px;
		position: relative;
		padding: 0;
		padding-bottom: 30px;
		list-style: none;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background: $green-400;
		}
		&__item {
			position: relative;
			padding-left: 40px;
			margin-bottom: 52px;
			font-size: 2.6rem;
			line-height: 1.385;
			color: $white;
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: '';
				position: absolute;
				width: 18px;
				height: 18px;
				left: -9px;
				top: 0;
				border-radius: 50%;
				border: 1px solid $green-400;
				background: $black-100;
			}
			&_active {
				&::before {
					background: $green-400;
				}
				& span:first-child {
					color: $green-400;
				}
			}
		}
		&__date {
			display: block;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 6px;
		}
		&__event {
			font-family: $secondary-font;
			font-weight: 400;
		}
	}
}

@media screen and (max-width: 1780px) {
	.roadmap {
		&-img {
			& img {
				max-width: 85%;
			}
		}
		&-list {
			margin-top: 50px;
		}
	}
}

@media screen and (max-width: 1385px) {
	.roadmap {
		&-img {
			@include flex(row, center);
			height: 100%;
			& img {
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.roadmap {
		&-content {
			&__wrapper {
				padding: 56px 0;
				padding-bottom: 112px;
			}
		}
		&-list {
			&__item {
				min-height: 100px;
				margin-bottom: 12px;
				font-size: 1.8rem;
				line-height: 1.44;
				&:last-child {
					min-height: auto;
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.roadmap {
		&-list {
			padding: 0;
			margin-top: 80px;
			&__item {
				min-height: 118px;
				&:last-child {
					min-height: 118px;
				}
			}
		}
	}
}
