.swiper {
	&-button {
		&-prev,
		&-next {
			position: static;
			width: auto;
			height: auto;
			margin: 0;
			justify-content: flex-end;
			padding: 7px 0;
			& span {
				display: inline-block;
				position: relative;
				height: 2px;
				width: 105px;
				background-color: $green-400;
				transform: translateX(-3px);
				&::before,
				&::after {
					content: '';
					position: absolute;
					right: -3px;
					width: 10px;
					height: 2px;
					border-radius: 3px;
					background-color: $green-400;
				}
				&::before {
					transform: rotate(45deg);
					top: calc(50% - 4px);
				}
				&::after {
					transform: rotate(-45deg);
					top: calc(50% + 2px);
				}
			}
			&::after {
				content: '';
			}
		}
		&-prev {
			transform: rotate(180deg);
		}
	}
}
