.header {
	position: relative;
	z-index: 10;
	&-wrapper {
		background: $black-100;
		padding-top: 48px;
	}
	&-logo {
		display: inline-block;
	}
	&-nav {
		height: 100%;
		@include flex(row, center, flex-end);
		&__link {
			margin-left: 56px;
			overflow: hidden;
			&:first-child {
				margin-left: 0;
			}
			& span {
				position: relative;
				display: inline-block;
				transition: 0.3s;
				transform: translateY(0);
				&::before {
					content: attr(data-hover);
					position: absolute;
					top: 100%;
					color: $green-400;
					text-transform: uppercase;
					font-size: 2rem;
					line-height: 1.4;
					transform: translate3d(0, 0, 0);
				}
			}
			&:hover {
				color: $white;
				&::before {
					content: none;
				}
				& span {
					transform: translateY(-100%);
				}
			}
		}
	}
}

@media screen and (max-width: 1385px) {
	.header {
		&-nav {
			&__link {
				margin-left: 20px;
				&:first-child {
					margin-left: 0;
				}
				& span {
					&::before {
						font-size: 1.4rem;
						line-height: 1.57;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		margin-bottom: -1px;
		&-logo {
			max-width: 229px;
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		&-wrapper {
			padding-top: 16px;
		}
		&-logo {
			max-width: 229px;
		}
	}
}
