// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'NeueMachina', Arial, sans-serif;
$secondary-font: 'OpenSans', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$white-100: #fafafa;
$black: #000;
$black-100: #010101;
$green-400: #bfec09;
$dark-green: #5e6e18;
